.content {
  padding-top: 50px;
}

.title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.description {
  text-align: center;
  margin-bottom: 100px;
}

.button_group {
  display: flex;
  justify-content: center;
  gap: 100px;
}
